#canvas {
  border:1px solid black;
}

#canvas-div {
  display: flex;
  justify-content: flex-end;
  align-items: centre;
}

.color-button {
  width: 20px;
  height: 20px;
  border: none;
}

#red {
  background-color: red;
}
#black {
  background-color: black;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#brown {
  background-color: brown;
}
#purple {
  background-color: purple;
}
#pink {
  background-color: pink;
}
