#canvas {
  border:1px solid black;
}

#canvas-div {
  display: flex;
  justify-content: flex-end;
  align-items: centre;
}

#toolbox {
  display: flex;
  flex-direction: column;
  align-items: centre;
  gap: 30px;
}

#stroke-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.color-button {
  width: 20px;
  height: 20px;
  border: none;
}

.stroke-button {
  width: 60px;
  height: 40px;
  border: none;
}

#eraser {
  background: url(assets/eraser.png);
}
#red {
  background-color: red;
}
#black {
  background-color: black;
}
#gray {
  background-color: gray;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#green {
  background-color: green;
}
#jade {
  background-color: #00A86B;
}
#blue {
  background-color: blue;
}
#water-blue {
  background-color: #1B95E0;
}
#brown {
  background-color: brown;
}
#purple {
  background-color: purple;
}
#violet {
  background-color: #8000FF;
}
#pink {
  background-color: pink;
}
