html{
  height:99%;
}

body{
  height:100%;
}

#canvas {
  border:1px solid black;
}

#canvas-div {
  display: flex;
  justify-content: flex-start;
  height:100%;
}

#toolbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 12%;
}

#stroke-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.import-export{
  margin-top: auto;
}

.import-export label {
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9rem;
}

.import-export label img{
  width: 2rem;
}

#shape-buttons {
  display: flex;
  width: 13rem;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-button {
  width: 20px;
  height: 20px;
  border: none;
}

.stroke-button, .shape-button {
  width: 60px;
  height: 40px;
  border: none;
}

.lines-label{
  display: inline;
}

select#lines  {
  display: inline;
  background: transparent;
  height: 2.5rem;
  border: none;
  border: 1px solid gray;
  padding: 0.5rem;
  font-size: 1rem;
  width: 12rem;
}


select#lines * {
  border: none;
  font-size: 1rem;
}

.shape-button{
  background-color: transparent;
  cursor: pointer;
}

.shape-button img{
  width: 2rem;
}


#eraser {
  background-color: transparent;
  cursor: pointer;
}

#eraser img{
  width: 1.5rem;
}

#paint-assemble {
  position: relative;
  flex-direction: column;
}

#paint-assemble canvas{
  position: absolute;
  background-color: transparent;
}
